<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <!-- site metas -->
    <title>FoodLink</title>

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- page icon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/f-logo.ico') }}"
      type="image/x-icon"
    />

    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}"
    />
    <!-- style css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/style.css') }}"
    />
    <!-- Responsive-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/responsive.css') }}"
    />
    <!-- Tweaks for older IEs-->
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/re  spond/1.4.2/respond.min.js"></script
    ><![endif]-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLBIGkMwk-ZH4EjGupegArNaU1IWylBBc&callback=initMap" defer></script>
    
    <style>
      /* Set the map container size */
      #map {
        height: 400px;
        width: 100%;
      }
    </style>
    
  </head>
  <!-- body -->
  <body class="main-layout inner_page">
    <!-- loader  -->
    <div class="loader_bg">
      <div class="loader">
        <img
          src="{{ url_for('static', filename = 'images/loading.gif') }}"
          alt="#"
        />
      </div>
    </div>

    <!-- end loader -->
    <!-- header -->
    <div class="header">
      <div class="container">
        <div class="row d_flex">
          <div class="col-md-2 col-sm-3 col logo_section">
            <div class="full">
              <div class="center-desk">
                <div class="logo">
                  <a href="/user">
                    <img
                      class="uempower_logo"
                      src="{{ url_for('static', filename = 'images/uempower_logo.png') }}"
                      alt="FoodLink Logo"
                  /></a>
                </div>
              </div>
            </div>
          </div>
          

          <div class="col-md-10 col-sm-12">
            <nav class="navigation navbar navbar-expand-md navbar-dark">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsExample04"
                aria-controls="navbarsExample04"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/user">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user/about">About</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/user/get-food">Get Food</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user/food-availability">Food Availability</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="/user/user-profile">User Profile</a>
                  </li>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user/contact-us">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- end header inner -->
    <!-- domain -->
    <div class="domain">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage text_align_center">
              <h2>Find Nearby <span class="blue_light">Food Bank</span></h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form">
              <div class="searchbar">
                <!-- Replace the input field with a dropdown menu -->
                <select class="search_input" id="locationSelect">
                  <option value="" selected>- Click here and pick the nearby location -</option>
                  <option value="bukitJalil">National Stadium Bukit Jalil</option>
                  <option value="pusatSukanUPM">Pusat Sukan UPM</option>
                  <option value="mbsjStadium">MBSJ Stadium, Serdang Jaya</option>
                </select>
                <a href="#" class="search_icon" onclick="searchLocation()">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          
          
          
          <div class="col-md-10 offset-md-1">
            <div class="domain_bg">
              <div id="map"></div>
              <button class="read_more_get_food" id="getFoodInfoBtn" onclick="getFoodAvailability()">Get Food Availability</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--  footer -->
    <footer>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="infoma text_align_left">
                <h3>Vision</h3>
                <ul class="commodo">
                  <li>A hunger-free future</li>
                  <li>through efficient</li>
                  <li>food resource management.</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="infoma">
                <h3>Get Support</h3>
                <ul class="conta">
                  <li>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>Address :
                    U Empower Sdn. Bhd.
                  </li>
                  <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>Call : +01
                    1234567890
                  </li>
                  <li>
                    <i class="fa fa-envelope" aria-hidden="true"></i
                    ><a href="Javascript:void(0)">
                      Email : foodlinkhub@gmail.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="infoma">
                <h3>Company</h3>
                <ul class="menu_footer">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About </a></li>
                  <li><a href="/donate">Donate</a></li>
                  <li><a href="/foodbank">Get Food</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="infoma text_align_left">
                <h3>Services</h3>
                <ul class="commodo">
                  <li>Connecting donors</li>
                  <li>with those in need,</li>
                  <li>efficiently and compassionately.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>©U Empower Sdn. Bhd.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
    <!-- sidebar -->
    <script src="{{ url_for('static', filename = 'js/custom.js') }}"></script>
    <script>
      var map; // Declare a global variable for the map
      var marker; // Declare a global variable for the marker
    
      function initMap() {
        var defaultLocation = { lat: 2.9998463528944432, lng: 101.71043701777222 }; // Faculty of Computer Science and Information Technology, UPM (default location)
        var mapOptions = {
          center: defaultLocation,
          zoom: 15 // You can adjust the zoom level as needed
        };
    
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
    
        // Add a marker for the default location (Faculty of Computer Science and Information Technology, UPM)
        marker = new google.maps.Marker({
          position: defaultLocation,
          map: map,
          title: 'Faculty of Computer Science and Information Technology, UPM'
          // You can add more properties to the marker as needed
        });
      }
    
      function searchLocation() {
        var locationSelect = document.getElementById('locationSelect');
        var selectedLocation = locationSelect.value;
    
        // Clear existing marker if present
        if (marker) {
          marker.setMap(null);
        }
    
        // Show marker only if a location is selected
        if (selectedLocation !== '') {
          // Set the center and zoom level based on the selected location
          switch (selectedLocation) {
            case 'bukitJalil':
              map.setCenter({ lat: 3.054621403298994, lng: 101.6912735087745 }); // National Stadium Bukit Jalil
              map.setZoom(15);
              break;
            case 'pusatSukanUPM':
              map.setCenter({ lat: 2.9872784074705216, lng: 101.72602572118514 }); // Pusat Sukan UPM
              map.setZoom(15);
              break;
            case 'mbsjStadium':
              map.setCenter({ lat: 3.0219063371402926, lng: 101.71083368962528 }); // MBSJ Stadium in Serdang Jaya
              map.setZoom(15);
              break;
            default:
              // Handle unknown location
              break;
          }
    
          // Add a marker for the selected location
          marker = new google.maps.Marker({
            position: map.getCenter(),
            map: map,
            title: selectedLocation
          });
        }
      }s
    </script>
    
  </body>
</html>
